@charset "UTF-8";

/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

body {
    background-color: rgba(205, 198, 205, 0.907);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.animate_animated {
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

.item {
    width: 250px;
    align-items: center;

}